body {
  font-family: system-ui, sans-serif;
}

#book-table {
  th, td {
    border: 1px solid grey;
    padding: 5px 10px;
  }
  /* header row */
  th {
    text-align: left;
  }
}

#new-book-modal {
  position: absolute;
  /* center on page */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* bg behind modal */
::backdrop {
  background-color: #000;
  opacity: 0.5;
}

#new-book-form {
  background-color: lightgrey;
  padding: 20px;
  max-width: max-content;
  fieldset {
    display: flex;
    flex-direction: column;
  }
  legend {
    font-weight: 600;
    padding-bottom: 10px;
  }
  ul.form-fields {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    li {
      display: contents;
    }
    label {
      margin-right: 20px;
    }
    input[type="checkbox"]  {
      justify-self: start;
    }
  }
  button[type="submit"] {
    margin-top: 10px;
    width: 100%;
  }
}